html {
    width:100%;
    height:100%;
}
  
body{
    padding-bottom: 50px;
    background: rgb(127, 100, 177);
    background: linear-gradient(to right,#7e5cbd, #b4a2d6);
}
.bg {
    background-image: url("/Proyecto-Final-JS/imagenes/login.jpg" );
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
